{% extends "GetunikBleedHdAssessmentUIBundle::layout-user.html.twig" %}

{% trans_default_domain 'AssessmentUIBundle' %}

{% block fos_user_content %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans }}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans }}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'form.current_password'|trans }}) }}
		</div>
	</div>

	{{ form_widget(form) }}

    <div>
        <input type="submit" class="btn btn-large btn-default btn-block" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
{% endblock fos_user_content %}
