{% extends "GetunikBleedHdSecurityBundle::layout.html.twig" %}

{% trans_default_domain 'SecurityBundle' %}

{% block fos_user_content %}
<form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans }}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.fullName, {'attr': {'class': 'form-control', 'placeholder': 'form.full_name'|trans }}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans }}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'form.new_password'|trans }}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'form.new_password_confirmation'|trans }}) }}
		</div>
	</div>

	<div class="form-group">
		<div class="controls">
			{{ form_widget(form.roles, {'attr': {'class': 'form-control', 'placeholder': 'form.roles'|trans }}) }}
		</div>
	</div>

	{{ form_widget(form) }}
	<div>
		<input type="submit" class="btn btn-large btn-default btn-block" value="{{ 'registration.submit'|trans }}" />
	</div>
</form>
{% endblock fos_user_content %}
