<!DOCTYPE html>
<html lang="en" ng-app="bleedHdApp">
    <head>
        <meta charset="utf-8">
        <title>BleedHD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock head %}

        {% block scripts %}
            {% javascripts output='js/compiled/common.js'
                '@GetunikBleedHdAssessmentUIBundle/Resources/js/jquery/jquery-2.1.1.min.js'
                '@GetunikBleedHdAssessmentUIBundle/Resources/js/lodash/lodash.min.js'
                '@GetunikBleedHdAssessmentUIBundle/Resources/js/moment/moment.min.js'
                '@GetunikBleedHdAssessmentUIBundle/Resources/bootstrap/dist/js/bootstrap.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                /* jshint ignore:start */
                window.env = {
                    environment: '{{ app.environment }}',
                    debug: {{ app.request.get('debug') == 'true' ? 'true' : 'false' }},
                };
                /* jshint ignore:end */
            </script>
        {% endblock scripts %}

        {% stylesheets filter="less" filter="cssrewrite" output="css/compiled/styles.css"
            '@GetunikBleedHdAssessmentUIBundle/Resources/less/styles.less'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        {% block logo %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#/" class="bleed-logo"><img src="{{ asset('bundles/getunikbleedhdassessmentui/images/logo.png') }}" width="220" alt=""></a>
                    <a href="/user/logout" class="btn btn-default pull-right bleed-btn-logout">Logout</a>
                    <hr>
                </div>
            </div>
        </div>
        {% endblock logo %}

        <div>
            {% block content %}{% endblock content %}
        </div>
        <div class="environment-indicator {{ app.environment }}">{{ app.environment }}</div>
    </body>
</html>
