{% extends "GetunikBleedHdAssessmentUIBundle::layout.html.twig" %}

{% trans_default_domain 'SecurityBundle' %}

{% block scripts %}
	{{ parent() }}

	{% if app.environment == 'dev' %}
		{% javascripts output='js/compiled/angular.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-route.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-sanitize.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/ui-router/angular-ui-router.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/restangular/restangular.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/ui-bootstrap/ui-bootstrap-tpls-2.0.0.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% else %}
		{% javascripts output='js/compiled/angular.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-route.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-sanitize.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/ui-router/angular-ui-router.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/restangular/restangular.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/ui-bootstrap/ui-bootstrap-tpls-2.0.0.min.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}

	{% javascripts output="js/compiled/app.js"
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.module.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.routes.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.services.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.filter.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/*.service.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.module.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.filter.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.service.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.directive.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.type.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*/*.type.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*/*.score.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.controller.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	{% javascripts filter="angular" output="js/compiled/templates.js"
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.view.html'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*/*.view.html'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock scripts %}

{% block logo %}
{% verbatim %}
<header ng-if="header.current.show" allow-logout="{{ header.current.allowLogout }}" alt-link="{{ header.current.altLink }}" alt-label="{{ header.current.altLabel }}"></header>
{% endverbatim %}
{% endblock logo %}

{% block content %}
<messages></messages>
<route-change>
	<div ng-view autoscroll="true"></div>
</route-change>
{% endblock content %}
